{% extends "bootstrap/base.html" %}
{% block title %}Unbabel Translation App{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/style.css')}}"
      type="text/css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      type="text/css">
{% endblock %}

{% block navbar %}
<div class="navbar">
    <div id="logo">
        <object data="{{url_for('static', filename='img/unbabel-logo.svg')}}" type="image/svg+xml">
            <img src="{{url_for('static', filename='img/unbabel-logo.png')}}", alt="alt_logo">
        </object>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="translation_input">
    <h1>Translate from English(EN)</h1>
    <div class="form-vertical">
        <div class="form-group">
            <div class="col-md-6">
                <textarea class="form-control" rows="5" placeholder="Type or paste text here..." required></textarea>
            </div>
        </div>
    </div>
</div>
<div class="translation_input">
    <h1>Translate from English(EN)</h1>
    <div class="form-vertical">
        <div class="form-group">
            <div class="col-md-6">
                <textarea class="form-control" rows="5" placeholder="Type or paste text here..." required></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %}