body {
    font-family: Montserrat,sans-serif;
}

.translation_input h1 {
    font-family: Montserrat,sans-serif;
    font-size: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* navbar */
.navbar{
    background-color: #3248d5;
}

#logo{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

